@import url('https://fonts.google.com/specimen/Raleway');


h1 {
    font-family: 'Raleway', cursive;
    text-align:left;
    color: black;
}

h2 {
    font-family: cursive;
    text-align:left;
    color: black;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: gainsboro;
}
body nav {
    justify-content: space-around;
    display: flex;
    padding: 2.0em;
    text-decoration:none;
}

body nav a:hover {
    color:cornsilk;
    transform: scale(175%);
}

nav a {
    font-size: x-large;
}